* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 2.6;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    
    /* margin-bottom: 20px; */
}

table td, table th {
    border-radius: 3px;
    background-color: teal;
    padding: 8px;
}

table th {
    background-color: #574b4b;
    text-align: center;
}

table img {
    max-width: 100%;
    height: auto;
    display: block;
    padding-right: 10px;
    
}

table a {
    display: block;
    text-decoration: none;
    color: blue;
}
